<div class="list measure center ba pa2">
  <h3>New Item</h3>
  <label class="f6 b db mb2">Name</label>
  <input name="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" placeholder="Item Name" type="text">
  <label class="f6 b db mb2">Category</label>
  <input name="category" class="input-reset ba b--black-20 pa2 mb2 db w-100" placeholder="Category Name" type="text">
  <label class="f6 b db mb2">Picture</label>
  <input name="imageUrl" class="input-reset ba b--black-20 pa2 mb2 db w-100" placeholder="Image Url" type="text">
  <label class="f6 b db mb2">Since</label>
  <input name="since" class="input-reset ba b--black-20 pa2 mb2 db" type="date">

  <div class="flex flex-row-reverse">
    <div role="button" class="near-white bg-animate mw-20 bg-near-black hover-bg-gray inline-flex items-center ma2 tc br2 pa2">
      <span class="f6 pl2 pr2">Add Item</span>
    </div>
  </div>

</div>