<ul class="list measure center">
  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
    <img class="w2 w3-ns" alt="bike" src="http://tachyons.io/img/avatar-mrmrs.jpg">
    <div class="pl3 flex-auto">
      <span class="f6 db black-70">Unibike Xenon Bike</span>
      <span class="f6 db black-70">Sports & Outdoors</span>
    </div>
    <div>
      <span class="f6 db i black-70">bought 3 years ago</span>
    </div>
  </li>

  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
    <img class="w2 w3-ns" alt="phone" src="http://tachyons.io/img/avatar-jxnblk.jpg">
    <div class="pl3 flex-auto">
      <span class="f6 db black-70">Sony XZ Phone</span>
      <span class="f6 db black-70">Electronic</span>
    </div>
    <div>
      <span class="f6 db i black-70">bought 3 months ago</span>
    </div>
  </li>

  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
    <img class="w2 w3-ns" alt="phone" src="http://tachyons.io/img/avatar-jasonli.jpg">
    <div class="pl3 flex-auto">
      <span class="f6 db black-70">Wash mashine</span>
      <span class="f6 db black-70">Appliances</span>
    </div>
    <div>
      <span class="f6 db i black-70">bought 7 years ago</span>
    </div>
  </li>
</ul>