<div class="bg-black-30 mw5 center pa2 mt3 br2-ns ba b--black-10">
  <div class="cf bn ma0 pa0">
    <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 br2-ns br--left-ns" placeholder="ðŸ”" type="text"
      value="">
  </div>
</div>