<h1>Style Guide</h1>

<h2>Top Navigation</h2>
<span class="pa2 i">find me in: 'app/templates/style-guide/navigation'</span> {{partial 'style-guide/navigation'}}

<h2>Items List</h2>
<span class="pa2 i">find me in: 'app/templates/style-guide/items-list'</span> {{partial 'style-guide/items-list'}}

<h2>Items Filter</h2>
<span class="pa2 i">find me in: 'app/templates/style-guide/items-filter'</span> {{partial 'style-guide/items-filter'}}

<h2>Items Form</h2>
<span class="pa2 i">find me in: 'app/templates/style-guide/items-form'</span> {{partial 'style-guide/items-form'}}